body {
  color: #222;
  background-color: #ddd;
}

.kitten {
  width: 25px;
  position: absolute;
  left: 0;
  top: 0;
}

.row {
  display: flex;
}

.cell {
  width: 44px;
  height: 44px;
  border: 1px solid #aaa;
  margin: 2px;
}

.grid {
  position: relative;
}
